body {
	background-color: lightsalmon;
	text-align: center;
	font-family: "Open Sans";
}

h1 {
	font-family: "Lobster";
	font-size: 3rem;
	color: white;
	text-shadow: 0.05em 0.05em black;
}

form {
	margin: auto;
	width: 200px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

input {
	border: 2px solid black;
	font-size: 1rem;
}

button {
	background-color: black;
	border: 2px solid black;
	color: white;
}